body {

    color: #f7f7f7
}
.jumbotron {
    background-image: url(C:\Users\Karen\OneDrive\Desktop\UFT Data Analytics\Module 11 - Javascript\UFOs\Images\nasa.jpg);
    background-size: 100% 100%;
    text-align: center;
}